:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --graysih-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
  --font-size: 1em;
  --font-family: "Poppins", sans-serif;
  --font-light: 200;
  --font-mid: 400;
  --font-bold: 600;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 5rem 1rem;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--very-light-gray);
  color: var(--very-dark-blue);
}

.heading {
  font-size: calc(var(--font-size) * 1.8);
  line-height: calc(var(--font-size) * 1.5);
  margin: 0;
  text-align: center;
}

.light-heading {
  display: block;
  font-weight: var(--font-light);
}

.bold-heading {
  display: block;
  font-weight: var(--font-bold);
}

.service-descrip {
  font-size: calc(var(--font-size) * 1);
  color: var(--graysih-blue);
  text-align: center;
  line-height: calc(var(--font-size) * 1.8);
  max-width: 500px;
  margin: 1rem auto;
}

.modal-wrapper {
  display: grid;
  grid-template-areas:
  "a"
  "b"
  "c"
  "d";
  max-width: 1200px;
  margin: 4rem auto;
}

.modal {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-top: solid 4px;
  padding: 1rem;
  margin: 1rem;
  overflow: auto;
}

.modal.light-blue {
  border-color: var(--cyan);
  grid-area: a;
}

.modal.red {
  border-color: var(--red);
  grid-area: b;
}

.modal.yellow {
  border-color: var(--orange);
  grid-area: c;
}

.modal.blue {
  border-color: var(--blue);
  grid-area: d;
}

.modal-heading {
  font-size: calc(var(--font-size) * 1.2);
  font-weight: var(--font-bold);
  margin: 0;
}

.modal-descrip {
  color: var(--graysih-blue);
  font-size: calc(var(--font-size) * 1);
  font-weight: var(--font-mid);
  line-height: calc(var(--font-size) * 1.8);
  margin: .5rem 0;
}

.modal-icon {
  float: right;
  margin: 2rem 0 0 0;
}

.attribution {
  font-size: calc(var(--font-size) * 1);
  text-align: center;
  color: var(--graysih-blue)
}

.attribution > a {
  color: var(--very-dark-blue);
  opacity: 0.8;
}

.attribution > a:hover {
  opacity: 1;
  text-decoration: none;
}

@media only screen and (min-width: 1440px) {
  .modal-wrapper {
    grid-template-areas:
    ". b ."
    "a b d"
    "a c d"
    ". c .";
  }
}