:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --graysih-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
  --font-size: 16px;
  --font-family: "Poppins", sans-serif;
  --font-light: 200;
  --font-mid: 400;
  --font-bold: 600;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 2rem 1rem;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--very-light-gray);
  color: var(--very-dark-blue);
}

.light-heading {
  font-weight: var(--font-light);
  margin: 0;
  text-align: center;
}

.bold-heading {
  font-weight: var(--font-bold);
  margin: 0;
  text-align: center;
}

.service-descrip {
  color: var(--graysih-blue);
  text-align: center;
}

.modal {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 1rem;
  margin: 2rem 0;
}

.modal-heading {
  margin: 0;
  font-weight: var(--font-bold);
}

.modal-descrip {
  color: var(--graysih-blue);
  font-weight: var(--font-mid);
}