:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --graysih-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
  --font-size: 15px;
  --font-family: "Poppins", sans-serif;
  --font-light: 200;
  --font-mid: 400;
  --font-bold: 600;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 2rem 1rem;
  font-family: var(--font-family);
  font-size: var(--font-size)
}